body {
    margin: 0px;
    padding: 0px;
    background-color: #f9fafb;
    display: flex;
}

.left {
    width: 33vw;
    height: 100vh;
    background-image: url('./img/background.avif');
    color: white;
}

.title {
    background-color: #00000080;
    /* font-size: 8rem; */
    display: flex;

}

.right {
    width: 67vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
}

.top, .mid, .bot {
    height: 200px;
}

.mid {
    background-color: #fff;
}