:root {
    --button-color: #596D48;
    --border-color: #E5E7EB;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf) format('woff2');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f9fafb;
    display: flex;
    font-family: Roboto;
}

p {
    margin: 0px;
    /* padding-top: 12px; */
    padding-bottom: 12px;
}

a {
    color: white;
}
  
.left {
    width: 33vw;
    height: 100vh;
    background-image: url('./img/background.avif');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    font-family: 'Norse Bold', sans-serif;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 75%;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.credit {
    margin-top: auto;
    padding-bottom: 8px;
}

.right {
    width: 67vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.top, .mid, .bot {
    height: 200px;
    padding: 24px;
}

.top {
    width: 430px;
}

.mid {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 36px;
    background-color: var(--button-color);
    border: 0px;
    border-radius: 4px;
    color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.link {
    color: var(--button-color);
    font-weight: bold;
}

form {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px;
    width: 250px;
}

.bot p {
    padding-top: 12px;
}